framework: netcoreapp2.2, netstandard2.0
source https://api.nuget.org/v3/index.json

nuget NUnit.Runners
nuget NUnit
nuget NUnit3TestAdapter
nuget Should
nuget Moq
nuget System.IO.Ports
nuget System.Configuration.ConfigurationManager
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.FileExtensions
nuget Microsoft.Extensions.Configuration.Json
